<div id="app" class="container">
    <h2>Registro</h2>
    <div class="form-group">
        <label for="firstName">Nombres</label>
        <input type="text" [(ngModel)]="registerObject.name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="lastName">Apellidos</label>
        <input type="text" [(ngModel)]="registerObject.last_names" class="form-control" />
    </div>
    <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" [(ngModel)]="registerObject.username" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" [(ngModel)]="registerObject.password" class="form-control" />
    </div>
    <label for="password">Permisos</label>
    <br>
    <small>Si no desea agregar el permiso, no seleccione</small>
    <select class="custom-select mr-sm-2" [(ngModel)]="registerObject.permission">
        <option *ngFor="let permission of permissions" [ngValue]="permission">
            {{ permission.name }}
        </option>
    </select>
    <br>
    <br>
    <button class="btn btn-success" type="button" (click)="onSubmit() ">Registrar</button>
    <button class="btn btn-success pull-right" type="button" routerLink="/login">Cancelar</button>
</div>