<div ng-app="myApp" ng-controller="myController" class="container">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form name="myForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="login-container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Usuario</label>
                                    <input type="text" class="form-control" formControlName="username" id="username" placeholder="usuario" autocomplete="off">
                                    <label class="error col-12" for="username" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Se requiere usuario</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    <input type="password" class="form-control" formControlName="password" id="password" placeholder="contraseña" autocomplete="off">
                                    <label class="error col-12" for="password" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Se requiere contraseña</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <a class="nav-link" routerLink="/register">Registro</a>
                                    <button class="btn btn-success pull-right" [disabled]="loginForm.invalid">Entrar</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div *ngIf="invalidLogin">
                                <div class="col-md-12">
                                    <div class="card-footer">
                                        <div class="form-group has-error has-feedback">
                                            <span class="error">Credenciales Inválidas.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div ng-show="showError" class="alert alert-danger">Credenciales Incorrectas!</div>
                                <div ng-show="showSuccess" class="alert alert-success">Login Successful!</div>
                            </div>
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>